<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{.PageTitle}}</title>
    <!-- <script>
      let active = false;
      sock = new WebSocket("ws://localhost:8080/reload");
      sock.onopen = function (event) {
        console.log("connected");
        active = true;
      };

      sock.onclose = function (event) {
        console.log("disconnected");
        // the timeout value needs to be long enough for the
        // go app to reload before refreshing this page.
        // tune it to what works on your system.
        if (active) {
          setTimeout(function () {
            location.reload();
            active = false;
          }, 2000);
        }
      };
    </script> -->
    <script>
      let active = !1;
      (sock = new WebSocket("ws://localhost:8080/reload")),
        (sock.onopen = function (o) {
          console.log("connected"), (active = !0);
        }),
        (sock.onclose = function (o) {
          console.log("disconnected"),
            active &&
              setTimeout(function () {
                location.reload(), (active = !1);
              }, 2e3);
        });
    </script>
  </head>
  <body>
    <h1>{{.PageTitle}}</h1>
    this is atest asdfff
  </body>
</html>
